/*  colors:
    yellow: #ffbe00
    navy #192b37 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* temporary styles for structural html */





/* Image Styles */

.bg-image{
    background-image: url(/images/the-sleep-co-1.jpg);
    background-size: cover;
}

/* --------------------------- universal styles and utility classes ------------------------ */

body { 
    font-family: 'Catamaran', sans-serif;
    color: #192b37;
}

.padded {padding: 5%;}
.padded-sm {padding: 1rem;}
.padded-lg {padding: 10%}


.bg-dark {
    background-color: #192b37;
    color: white;
}


.tall-50 { min-height: 50vh;}
.tall-60 { min-height: 60vh;}
.tall-70 { min-height: 70vh;}
.tall-80 { min-height: 80vh;}
.tall-90 { min-height: 90vh;}
.tall-100 { min-height: 100vh;}

/* Typography Styles */

.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-center    { text-align: center; }

.featured-text {color: #ffbe00;}
.white-text {color: #ffffff}

.small-text {font-size: 1.5rem;}
.medium-text {font-size: 2rem;}
.big-text {font-size: 5rem;}

.subtitle{
    font-size: 1.2rem;
    color: rgb(120,120,125)
}
.quote-icon{
    font-size: 6rem;
    display: inline-block;
    color: rgb(120,120,125);
    line-height: 0.5;
}

.font-weight-normal {font-weight: normal;}
.font-weight-light {font-weight: 200;}
.font-weight-extrabold {font-weight: 800;}

h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

h3 {
    line-height: 1;
}

p {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p:last-child{
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;

}

a:hover{
    color: #ffbe00;
    transition: 0.3s;
}

/* -------------- Header & Footer Styles ----------------- */

header {
    background-image: url('/images/the-sleep-co-4.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 6rem;
    line-height: 1;
}

footer a {
    border: none;
}

/* background images */

.bg-bed { background-image: url('/images/the-sleep-co-3.jpg')}
.bg-pug { 
    background-image: url('/images/the-sleep-co-1.jpg');
    background-position: 50% 29%;
}
.bg-pillow { 
    background-image: url('/images/the-sleep-co-2.jpg');
    background-position: 50% 57%;
}

/* Icon Grid */

.fa-solid {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3.3rem;  
}