/*  colors:
    orange: #ca6702
    teal #0a9396 */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* temporary styles for structural html */





/* Image Styles */

.bg-image{
    background-size: cover;
}

/* --------------------------- universal styles and utility classes ------------------------ */

body { 
    font-family: 'Ubuntu', sans-serif;
    color: #0a9396;
}

.padded {padding: 5%;}
.padded-sm {padding: 1rem;}
.padded-md {padding: 5rem;}
.padded-lg {padding: 10%}
.padded-bottom {padding-bottom: 0.4rem;}


.margin-top-7 {margin-top: 7rem;}
.margin-bottom {margin-bottom: 3rem;}
.margin-top {margin-top: 3rem;}
.margin-top-4 {margin-top: 4rem;}
.margin-bottom-0 {margin-bottom: 0;}

.bg-dark {
    background-color: #0a9396;
    color: white;
}

.bg-orange {
    background-color: #ca6702;
    color: white;
}



.tall-50 { min-height: 50vh;}
.tall-60 { min-height: 60vh;}
.tall-70 { min-height: 70vh;}
.tall-80 { min-height: 80vh;}
.tall-90 { min-height: 90vh;}
.tall-100 { min-height: 100vh;}

/* ----------- Typography Styles ----------------*/


.uppercase {text-transform: uppercase;}
.big-font {
    font-size: 4.5rem;
}

.md-font {
    font-size: 3rem;
}

.text-left      { text-align: left; }
.text-right     { text-align: right; }
.text-center    { text-align: center; }

.featured-text {
    color: #ca6702;
}

.featured-text-teal {
    color: #0a9396;;
}
.underline {
    border-bottom: 2px solid white;
}
.underline-o {
    border-bottom: 1.7px solid #0a9396;
}

.white-text {color: #ffffff}

.display-block {
    display: block;
}

.small-text {font-size: 1.5rem;}
.medium-text {font-size: 2rem;}
.big-text {font-size: 5rem;}

.subtitle{
    font-size: 1.2rem;
    color: rgb(120,120,125)
}
.quote-icon{
    font-size: 6rem;
    display: inline-block;
    color: rgb(120,120,125);
    line-height: 0.5;
}

.font-weight-normal {font-weight: normal;}
.font-weight-light {font-weight: 300;}
.font-weight-extrabold {font-weight: 700;}

.i-b {
    display: inline-block;
}

h2 {
    font-size: 2.5rem;
    line-height: 1.1;
    margin-bottom: 1.3rem;
}

h3 {
    line-height: 1;
}

p {
    font-weight: 200;
    line-height: 1.5;
    margin-bottom: 1rem;
}

p:last-child{
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid;

}

a:hover{
    color: #ca6702;
    transition: 0.3s;
}

/* -------------- Header & Footer Styles ----------------- */

header {
    background-image: url('/images/Paul\ McDonald-PNG5.jpg');
    background-size: cover;
    background-position: center;
}

header h3 {
    font-size: 6rem;
    line-height: 1;
}

footer a {
    border: none;

}


/* background images */

.bg-tele-up { 
    background-image: url('/images/Paul\ McDonald-PNG2.jpg');
    background-position: 50% 50%;}
.bg-tele-cliff { 
    background-image: url('/images/Paul\ McDonald-PNG4.jpg');
    background-position: 50% 100%;

}

.bg-tele-quote {
    background-image: url('/images/Paul-McDonald-PNG6.jpg');
}


.bg-pillow { 
    background-image: url('/images/the-sleep-co-2.jpg');
    background-position: 50% 57%;
}

.bg-strat-white {
    background-image: url('/images/Paul\ McDonald-PNG3.jpg');
    background-position: 50% 100%;
}

/* Icon Grid */

.fa-solid {
    display: block;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3.3rem;  
}

/*-------------- Offerings ------------ */

.border {
    border: 5px solid #ca6702;
}

.border-right {
    border-right: 3px solid #0a9396;
}

.border-top {
    border-top: 6px solid #0a9396;
}

.border-left {
    border-left: 3px solid #0a9396;
}

/* ----------------- Form ----------------*/

form input, form textarea {
    width: 100%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 2px solid lightgray;
    outline: none;
    font-family: inherit;
    font-size: 0.9rem;
  }
  
  form input:focus, form textarea:focus{
    border-color: green;
  }
  
  textarea {
    min-height: 5rem;
  }
  
  form label {
    margin-top: 1rem;
    display: block;
    color: #0a9396;
    font-weight: bold;
  }
  
  form button {
    background-color: gray;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    margin: 0.5rem 0;
    letter-spacing: 0.2rem
  }

  li{
      margin-bottom: 1.4rem;
  }